<div class="row">
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Programming in Python</h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li>Using Python from the command line</li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
  --->
  
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with R in the RStudio GUI</li>
      <li>Project management and file organization</li>
      <li>Importing data into R</li>
      <li>Introduction to R’s core data types and data structures</li>
      <li>Manipulation of data frames (tabular data) in R</li>
      <li>Introduction to visualization</li>
      <li>Writing data to a file</li>
      <li><a href="https://datacarpentry.org/r-intro-geospatial/reference.html">Reference...</a></li>
    </ul>
  </div>
  
    <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference">Reference...</a></li>
     </ul>
   </div>
   -->
<div class="col-md-6">
    <h3 id="syllabus-matlab">Geospatial Concepts</h3>
    <ul>
      <li>Intro to raster and vector data format and attributes</li>
      <li>Examples of data types raster vs vector format</li>
      <li>Intro to categorical vs continuous raster data and multi-layer rasters</li>
      <li>Intro to file types and R packages used</li>
      <li>Intro to coordinate reference systems and the PROJ4 format</li>
      <li>Overview of commonly used program and applications</li>
      <li><a href="https://datacarpentry.org/organization-geospatial/reference.html">Reference...</a></li>
     </ul>
   </div>

</div>

<div class="row">
  
  <div class="col-md-6">
    <h3 id="syllabus-git">Geospatial Raster and Vector Data with R</h3>
    <ul>
<li>Import and export rasters in R
<li>Create custom plots with raster and vector data</li>
<li>Reproject raster and vector data in R</li>
<li>Perform a subtraction between two rasters using multiple methods</li>
<li>Work with multi-band and time series rasters in R</li>
<li>Import point, line, and polygon shapefiles into R</li>
<li>Query and subset vector data by attributes</li>
<li>Convert data frames to/from spatial data</li>
<li>Extract and export summary pixel value from rasters</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-sql">Managing Data with SQL</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li>Creating, modifying, and deleting data</li>
      <li>Programming with databases</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference">Reference...</a></li>
    </ul>
  </div>
  --->
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Reference...</a></li>
    </ul>
  </div>
  -->
</div>
